<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Work</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel='shortcut icon' type='image/x-icon' href='../static/images/favicon.ico'>
    </head>
    <body>
        
        <div class="text title center">
            <h1>I CHALLENGE YOU TO HIRE ME</h1>
        </div>
        <iframe class="video" src="https://www.youtube.com/embed/NtZZ0q3D_yQ" title="Work" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="text center font-large">
            <p>
                Annika Rosenkvist
                <br><br>
                <a href="tel:0708621443" class="underline">0708621443</a>
            </p>
        </div>

    </body>
</html>