<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dunder</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel='shortcut icon' type='image/x-icon' href='../static/images/favicon.ico'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <h2>Vilka i Rot?</h2>
            <a id="nicolasButton" href="#" style="background-color: red" class="nameButton">Nicolas</a>
            <a id="ericButton" href="#" style="background-color: red" class="nameButton">Eric</a>
            <a id="andreasButton" href="#" style="background-color: red" class="nameButton">Andreas</a>
            <a id="gustavButton" href="#" style="background-color: red" class="nameButton">Gustav</a>
            <a id="oscarButton" href="#" style="background-color: red" class="nameButton">Oscar</a>
        </div>
        <div style="margin-top: 20px;">
            <a id="randomButton" href="#" style="background-color: red" class="nameButton">Random?</a>
        </div>
        <div>
            <h2>JCoins</h2>
            <div class="text">
                <a>Nicolas:</a>
                <a id="nicolasCoins">0</a>
                <a>- Eric:</a>
                <a id="ericCoins">0</a>
                <a>- Andreas:</a>
                <a id="andreasCoins">0</a>
                <a>- Gustav:</a>
                <a id="gustavCoins">0</a>
                <a>- Oscar:</a>
                <a id="oscarCoins">0</a>
            </div>
            <div style="margin-top: 10px;">
                <a id="clearButton" href="#" style="background-color: rgb(255, 123, 0)" class="nameButton">Clear JCoins</a>
            </div>
        </div>
        <div>
            <h2>Min - Max Antal</h2>
            <input id="minInput" type="number" name="minInput" placeholder="Min" step="1" value="1" min="1" max="10" required>
            <input id="maxInput" type="number" name="maxInput" placeholder="Max" step="1" value="10" min="2" max="100" required>
        </div>
        <div>
            <h2>Pass Procent</h2>
            <input id="passInput" type="number" name="passInput" placeholder="Pass" step="1" value="10" min="0" max="100" required>
            <h2>Multiplier Procent</h2>
            <input id="multiInput"type="number" name="multiInput" placeholder="Multiplier" step="1" value="10" min="0" max="100" required>
        </div>
        <div>
            <h2>Store</h2>
            <input id="buyPerson" type="text" name="buyPerson" placeholder="Person" required>
            <a id="buyButton" href="#" style="background-color: rgb(255, 123, 0)" class="nameButton">Double 45JC</a>
            <a id="challengeButton" href="#" style="background-color: rgb(255, 123, 0)" class="nameButton">Chall 100JC</a>
        </div>
        <div>
            <h2>Generera</h2>
            <a id="personButton" href="#" style="background-color: rgb(255, 123, 0)" class="nameButton">Person</a>
        </div>

        <h1 id="output"></h1>

        <script src="../static/js/index.js"></script>
    </body>
</html>