<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>M-PR</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel='shortcut icon' type='image/x-icon' href='../static/images/favicon.ico'>
        <script src="../static/js/countdown.js"></script>
    </head>
    <body>
        <section id="home">
            <div class="overlay">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="home-info">
                            <image class="i128" src="../static/images/MPR_R128.png"></image>
                            <ul id="countdown" class="countdown">
                                <li>
                                    <span id="days" class="days">xx</span>
                                    <h3>Days</h3>
                                </li>
                                <li>
                                    <span id="hours" class="hours">xx</span>
                                    <h3>hours</h3>
                                </li>
                                <li>
                                    <span id="minutes" class="minutes">xx</span>
                                    <h3>minutes</h3>
                                </li>
                                <li>
                                    <span id="seconds" class="seconds">xx</span>
                                    <h3>seconds</h3>
                                </li>     
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>