.text {
    font-family: Helvetica;
}

.title {
    font-size: xx-large;
}

.center {
    text-align: center;
}

.font-large {
    font-size: large;
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

.video {
    width: 70%; 
    height: 600px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 448px) {
    .title {
      font-size: large;
    }
}

@media screen and (max-width: 950px) {
    .video {
        height: 350px;
    }
}